#about {
    width: 60%;
    margin: 15vh auto;
    display: flex;
    flex-direction: row;
    gap: 5vw;
}
#about img {
    width: 100%;
    display: block;
}
#about div {
    margin: 5vh auto;
    text-align: justify;
}