nav, footer {
  flex-shrink: 0;
}
main {
  flex: 1;
  overflow-y: auto;
}

/* BASE = MÓVIL */
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  height: auto;
  margin: 5px 15px;
  gap: 8px;
}
.pageTitle {
  display: flex;
  flex-direction: column;
  gap: 0;
}
.pageIndex {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.5rem;
  margin: 0;
  padding-top: 0;
}
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  margin: 0;
  gap: 8px;
  height: auto;
  /*font-size: 0.75rem;*/
  text-align: left;
}

.navLink {
  color: inherit;
  text-decoration: none;
}
.activePage {
  font-weight: 900;
  text-transform: uppercase;
}
.networkLinks {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2.5vw;
}
.networkLinks img {
  width: 25px;
  transition: transform 0.3s ease;
}
.networkLinks img:hover {
  transform: scale(2.1);
}
.erreur {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5vw;
  margin: 15vh auto;
}
.textErreur {
  text-align: justify;
  margin: 10vh 0;
}

/* TABLET */
@media (min-width: 768px) {
  nav {
    align-items: center;
    height: 80px;
    margin: 5px 25px;
  }
  .pageTitle {
    flex-direction: row;
    gap: 5vw;
  }
  .pageTitle h2 {
    padding-top: 1vh;
  }
  .pageIndex {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 4vw;
    margin: 20px;
    padding-top: 1.5vh;
  }
  footer {
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
    margin: 0 25px;
  }
}

/* desktop */
@media (min-width: 1025px) {
  .pageIndex {
    gap: 5vw;
  }
}